name: Force Refresh Stats Cache

on:
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  refresh-stats:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Update Cache Buster
        run: |
          # We gebruiken | als scheidingsteken om verwarring met / in de URL te voorkomen
          sed -i "s|v=[0-9]*|v=${{ github.run_id }}|g" README.md
          
      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add README.md
          git commit -m "chore: update stats cache buster" || exit 0
          git push
